
Itsycal.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Itsycal.xcodeproj/project.xcworkspace/xcuserdata/solomon.xcuserdatad/UserInterfaceState.xcuserstate

Itsycal.xcodeproj/xcuserdata/solomon.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Itsycal.xcodeproj/xcuserdata/solomon.xcuserdatad/xcschemes/Itsycal.xcscheme

Itsycal.xcodeproj/xcuserdata/solomon.xcuserdatad/xcschemes/xcschememanagement.plist
